@model Eshop.Models.ItemList
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container-fluid">
        <table class="table">
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            @{ foreach (var item in Model.ItemsList)
                {
                    <tr>
                        <td>@item.EnumCategory</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price Kc</td>
                        <td>@item.QuantityOnStock</td>
                    </tr>
                }
            }
        </table>
    </div>

    <p>
     
    </p> 
</body>
</html>